.notesApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .appTitle {
    font-size: 45px;
    text-align: center;
    margin: 10px 0;
  }
  hr {
    width: 1196px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .appBody {
    display: flex;
    flex-direction: row;
  }
}